.Pokecard {
    border: 2px solid green;
    width: 300px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(238, 232, 232, 0.5);
    background-color: rgba(27, 24, 63, 0.5);
    border-radius: 5px;
}

.Pokecard-data {
    font-size: 80%;
}